html,body, #root{
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-bg {
  position: absolute;
  z-index: -1;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("./img/background-image-app.png");
  filter: blur(4px);
}