.home {
  background-color: white;
  flex: 1;
  overflow-y: auto;
  padding: 32px;
  font-family: monospace;
  &__list {
    height: calc(100% - 42px - 8px);
    margin-top: 8px;
  }
  &__search {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    outline: none;
    width: 100%;
    height: 42px;
    padding-left: 4px;
  }
  &__place-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__main {
      font-size: x-large;
      text-transform: uppercase;
      font-weight: 100;
      color: #333;
    }

    &__secondary {
      margin-top: 4px;
      color: #333;
    }
  }
  &__detail {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 8px;
      margin-right: 8px;
      padding-top: 8px;
      padding-bottom: 8px;

      &__icon {
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
        color: #D7D7D7;
      }

      &__data {
        font-size: medium;
        margin-top: 4px;
      }

      &__measure {
        font-size: smaller;
      }
    }
  }

  &__prediction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
  }

  &__prediction-button{
    border: 1px solid #D7D7D7;
    padding: 8px;
    cursor: pointer;
  }
}

iframe {
  display:  none;
}
